<body>
    <div class="mx-4 grid-cols-1">
        <div class="rounded-md bg-slate-900 w-full text-slate-100 grid-cols-1 p-4">
            <h1 class="text-2xl uppercase">Настройки</h1>
            <hr>
            <label for="image_model" class="block my-2 text-sm font-medium text-gray-900 dark:text-white">Модель для генерации изображений</label>
            <select id="image_model" ng-model="selectedModel" ng-options="x for x in modelOption" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full sm:w-1/2 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></select>
            <label for="video_model" class="block my-2 text-sm font-medium text-gray-900 dark:text-white">Модель для генерации видео</label>
            <select id="video_model" ng-model="selectedVideoModel" ng-options="x for x in videoOption" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full sm:w-1/2 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></select>
        </div>
    </div>
</body>