<body>
    <div class="mx-4 grid-cols-1">
        <div class="rounded-md bg-slate-900 w-full text-slate-100 grid-cols-1 p-4">
            <h1 class="text-2xl uppercase"><span class="fa-solid fa-gears mr-2"></span>Настройки</h1>
            <hr>
            <label for="image_model" class="block my-2 text-sm font-medium text-gray-900 dark:text-white">Модель для генерации изображений</label>
            <select id="image_model" ng-model="selectedModel" ng-options="x for x in modelOption" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full sm:w-1/2 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></select>
            <label for="video_model" class="block my-2 text-sm font-medium text-gray-900 dark:text-white">Модель для генерации видео</label>
            <select id="video_model" ng-model="selectedVideoModel" ng-options="x for x in videoOption" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full sm:w-1/2 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></select>
            
            <div class="flex flex-row gap-5">
                <form class="max-w-xs my-2">
                    <label for="quantity-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Длина видео по умолчанию:</label>
                    <div class="relative flex items-center max-w-[8rem]">
                        <button type="button" id="decrement-button" ng-click="decrementValue('videoLength', 1)" class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-s-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                            <svg class="w-3 h-3 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16"/>
                            </svg>
                        </button>
                        <input type="text" id="quantity-input" ng-model="videoLength" aria-describedby="helper-text-explanation" class="bg-gray-50 border-x-0 border-gray-300 h-11 text-center text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full py-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="999" required />
                        <button type="button" id="increment-button" ng-click="incrementValue('videoLength', 10)" class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-e-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                            <svg class="w-3 h-3 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                            </svg>
                        </button>
                    </div>
                    <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400">От 1 до 10 секунд</p>
                </form>
                <form class="max-w-xs my-2">
                    <label for="fps-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Количество кадров в видео по умолчанию:</label>
                    <div class="relative flex items-center max-w-[8rem]">
                        <button type="button" id="decrement-button" ng-click="decrementValue('videoFPS', 6)" class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-s-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                            <svg class="w-3 h-3 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16"/>
                            </svg>
                        </button>
                        <input type="text" id="fps-input" ng-model="videoFPS" aria-describedby="helper-text-explanation" class="bg-gray-50 border-x-0 border-gray-300 h-11 text-center text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full py-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="999" required />
                        <button type="button" id="increment-button" ng-click="incrementValue('videoFPS', 30)" class="bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:border-gray-600 hover:bg-gray-200 border border-gray-300 rounded-e-lg p-3 h-11 focus:ring-gray-100 dark:focus:ring-gray-700 focus:ring-2 focus:outline-none">
                            <svg class="w-3 h-3 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                            </svg>
                        </button>
                    </div>
                    <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400">От 6 до 30 кадров</p>
                </form>
            </div>

            <div class="inline-flex items-center">
                <label class="mt-2 inline-flex items-end cursor-pointer">
                    <input type="checkbox" value="" ng-model="useDefaultNegPrompt" class="sr-only peer" checked>
                    <div class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                </label>
                <span class="ms-3 text-[0.7rem] sm:text-sm font-medium text-gray-900 dark:text-gray-300">Использовать негативный промт по умолчанию</span>    
            </div>
            
            <div class="defaultNegPromptGroup">
                <div ng-show="useDefaultNegPrompt" class="inline-flex items-center">
                    <label class="mt-2 inline-flex items-center cursor-pointer">
                        <input type="checkbox" value="" ng-model="replaceDefaultNegPrompt" class="sr-only peer disabled:opacity-30" ng-disabled="!useDefaultNegPrompt">
                        <div class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                    </label>
                        <span class="ms-3 text-[0.7rem] sm:text-sm font-medium text-gray-900 dark:text-gray-300">Заменять негативный промт</span>
                        <span class="fa-solid fa-circle-question ml-2"></span>
                </div>
                
                <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Негативный промт по умолчанию</label>
                <textarea id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 disabled:opacity-30" textplaceholder="Напишите промт..." ng-disabled="!useDefaultNegPrompt" ng-model="defaultNegPromptText"></textarea>
            </div>
        </div>

        <div class="rounded-md bg-slate-900 w-full text-slate-100 grid-cols-1 p-4 mt-3">
            <h1 class="text-2xl uppercase"><span class="fa-solid fa-chart-simple mr-2"></span>Статистика</h1>
            <hr>
            <div class="grid grid-cols-1 sm:grid-cols-2 text-lg md:text-sm mt-2">
                <record content="record" ng-repeat="record in statRecords"></record>
            </div>
        </div>

        <div class="rounded-md bg-slate-900 w-full text-slate-100 grid-cols-1 p-4 my-3">
            <h1 class="text-2xl uppercase"><span class="fa-solid fa-clock-rotate-left mr-2"></span>История генераций</h1>
            <hr>
            <div class="grid grid-cols-1">
                <horizontal-card content="card" ng-repeat="card in historyRecord"></horizontal-card>
            </div>
        </div>
    </div>
</body>